<p class="question-detail">
  For the given form, please do following things and:
  <br />
  1. Disable the Login button if form is not valid.
  <br />
  2. Email is required and validate it.
  <br />
  3. Password is required and should not be under 8 characters.
  <br />
  4. Alert when password is emptied.
  <br />
  5. On submit, alert the form values.
  <br />
  Only Reactive Forms are allowed.
</p>

<div class="form">
  <div class="form-control">
    <input
      type="text"
      class="form-field"
      name="email"
      id="email"
      placeholder="Email Address"
    />
    <label for="email" class="form-label">Email Address</label>
  </div>

  <div class="form-control">
    <input
      type="password"
      class="form-field"
      name="password"
      id="password"
      placeholder="Password"
    />
    <label for="password" class="form-label">Password</label>
  </div>

  <button type="button" class="button">Submit</button>
</div>
